.venv
.env
/backend/test.py
/backend/__pycache__
/A_SUPPRIMER_interface_react
*.xlsx
*.csv
backend/test.py
/node_modules
my_excel_results.xlsx
/electron/node_modules
/backend/build
/backend/app.spec
/backend/dist